.login__container >img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}
.login__container > button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: rgb(77, 131, 24) !important;
    color: white;
}
.login__container{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(151, 151, 206) ,
    0 1px 2px rgb(113, 113, 151);
}
.login{
    height: 100vh;
    background-color: #c0bdbd;
    display: grid;
    place-items: center;
}